Repository kimkyunghun3/WWDC, pull requests merged in 2022-11, with the labels that each got.

#21 [2020] Advances in diffable data sources
  2020/Advances_in_diffable_data_sources.md
Labels: 2020

#22 [2020] List in UICollectionView
  2020/List In UICollectionView.md
  2020/sample.md
Labels: 2020

#23 [2019] Building Custom Views in SwiftUI
  2019/Building Custim Views in SwiftUI.md
Labels: 2019

#24 add: Advances in UICollectionView & Modern Cell Configuration
  2020/Advances_in_UICollectionView.md
  2020/Modern_Cell_Configuration.md
Labels: 2020

#25 [2019] Data Flow Through SwiftUI
  2019/Data Flow Through SwiftUI.md
Labels: 2019

#27 [2020] Unsafe Swift
  2020/Unsafe_Swift.md
Labels: 2020

#28 [2020] Get your test results faster
  2020/Get your test results faster.md
Labels: 2020

#29 [2021] Discover concurrency in SwiftUI
  2021/DiscoverConcurrencyInSwiftUI.md
Labels: 2021
