Repository kimkyunghun3/WWDC, pull requests merged in 2023-01, with the labels that each got.

#39 [2021] Swift Concurrency Behind the Scenes
  2021/Swift Concurrency Behind the Scenes.md
Labels: 2021

#40 [2019] Combine in Practice
  2019/CombineInPractice.md
Labels: 2019

#42 [2021] Explore structured concurrency in Swift
  2021/Explore structured concurrency in Swift.md
Labels: 2021

#43 Meet WidgetKit
  2020/Meet_WidgetKit.md
  README.md
Labels: 2020

#44 [2015] UI Testing in Xcode
  2015/UI_Testing_in_Xcode.md
Labels: 2015

#45 [2020] Why Is My App Getting Killed?
  2020/Why Is My App Getting Killed?.md
Labels: 2020

#46 [2020] Eleminate animation hitches with XCTest
  2020/Eleminate_animation_hitches_with_XCTest.md
Labels: 2020

#47 [2021] Swift concurrency: Update a sample app
  2021/Swift_concurrency_Update_a_sample_app.md
Labels: 2021

#48 [2021] Discover breakpoint improvements
  2021/Discover breakpoint improvements.md
Labels: 2021

#49 [2022] Use SwiftUI with UIKit
  2022/Use_SwiftUI_with_UIKit.md
  README.md
Labels: 2022

#51 [2021] Meet Xcode Cloud
  2021/Meet_Xcode_Cloud.md
Labels: 2021

#52 [2022] Eliminate data races using Swift Concurrency
  2022/Eliminate_data_races_using_Swift-Concurrency.md
  README.md
Labels: 2022

#53 [2022] Visualize and optimize Swift concurrency
  2022/visualize_and_optimize_Swift_concurrency.md
Labels: 2022

#55 [2021] Diagnose Power and Performance regressions in your app
  2021/Diagnose Power and Performance regressions in your app.md
Labels: 2021

#56 [2021] Explore Xcode Cloud Workflows
  2021/Explore Xcode Cloud Workflows.md
Labels: 2021

#57 [2022] Meet Swift Package plugins
  2022/Meet_Swift_Package_plugins.md
Labels: 2022

#58 [2018] Using Collections Effectively
  2018/Using_Collections_Effectively.md
Labels: 2018

#59 [2020] Write tests to fail
  2020/Write_Tests_To_Fail.md
Labels: 2020
