Repository kimkyunghun3/WWDC, pull requests merged in 2023-03, with the labels that each got.

#70 [2021] Meet the Swift Algorithms and Collections packages
  2021/Meet_the_Swift_Algorithms_and_Collections_packages.md
Labels: 2021

#71 [2018] Building Faster in Xcode
  2018/Building Faster in Xcode.md
Labels: 2018

#72 [2020] Boost performance and security with modern networking
  2020/Boost Performance and security with modern networking.md
Labels: 2020

#73 [2022] Power down: Improve battery consumption
  2022/Power_down_Improve_battery_consumption.md
  README.md
Labels: 2022

#74 [2019] Implementing Dark Mode on iOS
  2019/Implementing_Dark_Mode_on_iOS.md
Labels: 2019

#75 [2019] Optimizing App Launch
  2019/Optimizing App Launch.md
Labels: 2019
