Repository kimkyunghun3/WWDC, pull requests merged in 2023-04, with the labels that each got.

#76 [2022] Hello Swift Charts
  2022/Hello_Swift_Charts.md
  README.md
Labels: 2022

#77 [2021] Understand and eliminate hangs from your app
  2021/Understand and eliminate hangs from your app.md
Labels: 2021

#79 [2022] What's new in privacy
  2022/What's new in privacy.md
Labels: 2022

#78 [2019] Introducing Core Haptics
  2019/Introducing_Core_Haptics.md
Labels: 2019

#80 [2023] Implement Apple Pay and order management
  2023/Implement Apple Pay and order management.md
Labels: 2023

#81 [2022] Get to know Developer Mode
  2022/Get_to_know_Developer_Mode.md
  README.md
Labels: 2022

#82 [2022] What's new in Photos picker
  2022/What's_new_in_Photos_picker.md
Labels: 2022

#84 [2022] Build global apps: Localization by example
  2022/Build global apps_Localization by example.md
Labels: 2022

#85 [2018] Image and Graphics Best Practices
  2018/Image_and_Graphics_Best_Practices.md
Labels: 2018

#86 [2020] The Push Notifications primer
  2020/The Push Notifications primer.md
Labels: 2020

#87 [2022] Enhance your Sign in with Apple experience
  2022/Enhance your Sign in with Apple experience.md
Labels: 2022

#88 [2018] I Have This Idea For An App...
  2018/I_Have_This_Idea_For_An_App...md
Labels: 2018
