Repository kimkyunghun3/WWDC, pull requests merged in 2023-02, with the labels that each got.

#60 [2020] Explore the new system architecture of Apple silicon Macs
  2020/Explore the new system architecture of Apple silicon Macs.md
Labels: 2020

#61 [2022] Meet Swift Regex
  2022/Meet_Swift_Regex.md
Labels: 2022

#62 [2020] App Essentials in SwiftUI
  2020/App Essentials in SwiftUI.md
Labels: 2020

#63 [2022] Compose custom layouts with SwiftUI
  2022/Compose_custom_layouts_with _SwiftUI.md
  README.md
Labels: 2022

#64 [2019] Great Developer Habits
  2019/Great Developer Habits.md
Labels: 2019

#65 [2022] Swift Regex: Beyond the basics
  2022/Swift_Regex:_Beyond_the_basics.md
Labels: 2022

#66 [2020] What's new in SwiftUI
  2020/Whta's new in SwiftUI.md
Labels: 2020

#67 [2018] Getting to Know Swift Package Manager
  2018/Getting to Know Swift Package Manager.md
Labels: 2018

#68 add: what’s new in UIKit
  2022/WWDC 2022 what’s new in UIKit.md
Labels: 2022

#69 [2018] Embracing Algorithms
  2018/Embracing_Algorithms.md
Labels: 2018
